{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>Welcome</h2>

        <p class="text-muted mb-4">
            Login to continue using IntelliHealth AI
        </p>

        {% if messages %}

{% for message in messages %}

<div class="alert alert-danger">

    {{ message }}

</div>

{% endfor %}

{% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">Username</label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Enter your username"
                    required
                >

            </div>

            <div class="mb-4">

    <label class="form-label">Password</label>

    <div class="password-wrapper">

        <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            required
        >

         <span class="toggle-password" onclick="togglePassword()">
            <i class="bi bi-eye-fill"></i>
        </span>

    </div>

</div>

            <button
                type="submit"
                class="btn btn-primary w-100 auth-btn">

                Login

            </button>

        </form>

        <div class="auth-footer">

            Don't have an account?

            <a href="/accounts/register/">

                Register

            </a>

        </div>

    </div>

</div>

{% endblock %}